<nav class="flex flex-row justify-between mt-8 mb-16 mx-24 pl-4 pr-4">
  <div class="flex flex-row gap-x-4">
    <%= link_to root_path, class: "flex" do %>
      <%= image_pack_tag 'my_unsplash_logo.svg' %>
    <% end %>
    <%= form_with url: search_photos_path, method: :get do |form| %>
      <div class="flex flex-row items-center gap-x-2 border-2 rounded-xl p-4">
        <span class="material-icons" style="color: #BDBDBD;">search</span>
        <%= form.text_field :query, placeholder: "Search by name" %>
      </div>
    <% end %>
  </div>
  <button id="add-photo" type="button" class="text-white font-bold py-4 px-6 rounded-xl" style="background-color: #3DB46D; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);">Add a photo</button>
</nav>
